<!DOCTYPE html>
<html>
    <head>
        <% include ../header.ejs %>
    </head>
    <body>
        <% include ./header.ejs%>

        <div class="container" style="margin-top: 10px">
        <div class="menu">
            <a class="btn btn-primary" href="/board">메세지 통계</a>
            <a class="btn btn-primary" href="/logging">메세지 로그</a>
            <a class="btn btn-primary" href="/publish">메세지 발행</a>
            <!-- <a class="btn btn-primary" href="/nodeinfo">노드 관리</a> -->
        </div>
        <div class="content">
            <% if(page === 'logging') { %>
            <% include ./logging.ejs %>
            <% } else if(page === 'pub_complete') {%>
            <% include ./pub_complete.ejs %>
            <% } else if(page === 'error') {%>
            <% include ../error.ejs %>
            <% } else if(page === 'publish') {%>
            <% include ./publish.ejs %>
            <% } else { %>
            <% include ./statistics.ejs %>
            <% }%>
        </div>
        </div>
        <% include ../footer.ejs %>
    </body>
</html>