<!DOCTYPE html>
<html>
<head>
    <% include header.ejs %>
</head>
<body>
<h1>Error</h1>
<p>Message : <% if(typeof message != 'undefined') { %> <%= message %></p> <% } %>
<p>Location : <% if(typeof location != 'undefined') { %> <%= location %></p> <% } %>
<p>Stack : <% if(typeof error != 'undefined') { %> <%= error.stack %></p><% } %>
</body>
</html>