<!DOCTYPE html>
<html>
<head>
    <% include header.ejs %>
</head>
<body>
<h1>Error</h1>
<p>Message : <%= message %></p>
<p>Location : <%= location %></p>
<p>Stack : <%= error.stack %></p>
</body>
</html>